.markdown {
  color: rgba(0,0,0,.8);
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
  text-size-adjust: 100%;
  font-family: 
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Helvetica,Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji;
  [type=checkbox] {
    box-sizing: border-box;
    padding: 0;
  }
  &:after {
    display: table;
    content: "";
    clear: both;
  }
  &:before {
    display: table;
    content: "";
  }
  > :first-child {
    margin-top: 0 !important;
  }
  > :last-child {
    margin-bottom: 0 !important;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 24px 0 16px;
    line-height: 1.25;
    font-weight: 600;
    .anchor {
      color: inherit;
    }
  }
  h1 {
    font-size: 28px;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(0,0,0,.08);
  }
  h2 {
    font-size: 24px;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(0,0,0,.08);
  }
  h3 {
    font-size: 21px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
  details {
    display: block;
    margin-top: 0;
    margin-bottom: 16px;
    summary {
      cursor: pointer;
    }
  }
  summary {
    display: list-item;
  }
  a {
    color: rgba(0,127,255,.8);
    text-decoration: none;
    background-color: initial;
    &:active {
      outline-width: 0;
    }
    &:hover {
      outline-width: 0;
      text-decoration: underline;
    }
    &:not([href]) {
      color: inherit;
      text-decoration: none;
    }
  }
  strong {
    font-weight: 600;
  }
  img {
    max-width: 100%;
    box-sizing: initial;
    border-style: none;
  }
  code {
    margin: 0;
    padding: 3px;
    display: inline-block;
    font-size: 0.85em;
    line-height: 1;
    border-radius: 2px;
    background-color: rgba(0,127,255,.4);
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  }
  pre, pre code {
    font-size: 12px;
    line-height: 1.4;
    word-wrap: normal;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  }
  pre {
    margin-top: 0;
    margin-bottom: 16px;
    padding: 12px;
    overflow: auto;
    border-radius: 6px;
    background-color: rgba(244,248,252,.8);
    -webkit-overflow-scrolling: touch;
    code {
      border: 0;
      margin: 0;
      padding: 0;
      border-radius: 0;
      background-color: transparent;
      word-break: normal;
      white-space: pre;
      overflow: visible;
    }
  }
  hr {
    box-sizing: initial;
    overflow: visible;
    margin: 16px 0;
    overflow: hidden;
    border: 0;
    padding: 0;
    height: 3px;
    margin: 24px 0;
    background-color: rgba(0,0,0,.08);
    &:after {
      display: table;
      content: "";
      clear: both;
    }
    &:before {
      display: table;
      content: "";
    }
  }
  input {
    font: inherit;
    margin: 0;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    &::-webkit-inner-spin-button {
      margin: 0;
      -webkit-appearance: none;
      appearance: none;
    }
    &::-webkit-outer-spin-button {
      margin: 0;
      -webkit-appearance: none;
      appearance: none;
    }
  }
  table {
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 0;
    margin-bottom: 16px;
    overflow: auto;
    background-color: rgba(244,248,252,.8);
    th {
      font-weight: 600;
      padding: 6px 12px;
      border: 1px solid rgb(224,227,230);
    }
    td {
      padding: 6px 12px;
      border: 1px solid rgb(224,227,230);
    }
    tr:nth-child(2n+1) td {
      background-color: rgba(230,234,238,.5);
    }
  }
  td {
    padding: 0;
  }
  th {
    padding: 0;
  }
  p {
    margin-top: 0;
    margin-bottom: 16px;
  }
  blockquote {
    margin: 0;
    margin-top: 0;
    margin-bottom: 16px;
    padding: 8px;
    opacity: .8;
    border-left: 3px solid rgba(0,127,255,.4);
    background-color: rgba(0,127,255,.2);
    > :first-child {
      margin-top: 0;
    }
    > :last-child {
      margin-bottom: 0;
    }
  }
  ol, ul {
    margin-top: 0;
    margin-bottom: 16px;
    padding-left: 28px;
    ol {
      list-style-type: lower-roman;
      margin-top: 0;
      margin-bottom: 0;
      ol {
        list-style-type: lower-alpha;
      }
    }
    ul {
      ol {
        list-style-type: lower-alpha;
      }
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  dd {
    margin-left: 0;
  }
  dl {
    margin-top: 0;
    margin-bottom: 16px;
    padding: 0;
    dt {
      padding: 0;
      margin-top: 16px;
      font-size: 14px;
      font-style: italic;
      font-weight: 600;
    }
    dd {
      padding: 0 16px;
      margin-bottom: 16px;
    }
  }
  li {
    word-wrap: break-all;
    > p {
      margin-top: 16px;
    }
  }
  li+li {
    margin-top: 4px;
  }
  img[align=right] {
    padding-left: 20px;
  }
  img[align=left] {
    padding-right: 20px;
  }
}
.markdown.dark, .markdown .dark {
  color: rgba(255,255,255,.8);
  h1, h2, h3, h4, h5, h6 {
    .anchor {
      color: inherit;
    }
  }
  h1 {
    border-bottom-color: rgba(255,255,255,.08);
  }
  h2 {
    border-bottom-color: rgba(255,255,255,.08);
  }
  pre {
    background-color: rgba(40,44,52,.8);
    code {
      background-color: transparent;
    }
  }
  hr {
    background-color: rgb(255,255,255,.08);
  }
  table {
    background-color: rgba(40,44,52,.8);
    th {
      border-color: rgb(48,54,60);
    }
    td {
      border-color: rgb(48,54,60);
    }
    tr:nth-child(2n+1) td {
      background-color: rgb(20,24,28,.5);
    }
  }
}